<h1>{{title}}</h1>
{{#if errors}}
    <section class="errors">
        <h1>Errors!</h1>
        <ul>
            {{#each errors}}
                <li>{{this.msg}}</li>
            {{/each}}
        </ul>
    </section>
{{/if}}
<p>Wellcome to {{title}}</p>
<form action="/submit" method="post">
    <div class="input">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </div>
    <div class="username">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username">
    </div>
    <div class="password">
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password">
    </div>
    <div class="confirmPassword">
        <label for="confirmPassword">Confirm Password</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword">
    </div>
    <button type="submit">Submit</button>
</form>